<div class="container">
    <div class="row">
        <div class="col-12 col-md-8">  
            <h1>Oasis Resort Hotel</h1>
            <p>
                El Oasis Resort Hotel está situado en la zona costera de cancun y con espectaculares vistas del Caribe y la Laguna Nichupté. Ofrece alojamientos de lujo, conexión WiFi gratuita, 
                un spa y una piscina climatizada semiolímpica.
                Las habitaciones del Hotel Intercontinental son amplias y cuentan con TV LCD con canales por cable y conexión gratuita a internet de alta velocidad. 
                Algunas incluyen una cocina totalmente equipada y una zona de estar. Además, el servicio de habitaciones está disponible todos los días, las 24 horas.
                El establecimiento sirve un desayuno buffet abundante en La Brasserie. Asimismo, los huéspedes pueden degustar platos a la parrilla y pizzas hechas al 
                horno de piedra en el restaurante Fogón de Piedra, o bien pueden tomar platos creativos y vinos exquisitos en la enoteca Cava Del Inter, 
                que elabora cocina exclusiva.

                Disponemos además de un bloque de servicios que cuenta con:

                a) Buffet.
                b) salón de juegos.
                c) Piscina.
                d) Gimnasio.
                e) Spa.


            </p>
        </div>
        <div class="col-12 col-md-4 my-5">  
            <div class="row mb-3">
                <div class="col-6">
                    <img src="../../assets/img/Buffet.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-6">
                    <img src="../../assets/img/piscina.webp" alt="" class="img-fluid">
                </div>
            </div> 
            <div class="row">  
                <div class="col-6">
                    <img src="../../assets/img/Juegos.jpg" alt="" class="img-fluid"> 
                </div>
                <div class="col-6">
                    <img src="../../assets/img/gym.jpg" alt="" class="img-fluid">
                </div>


            </div>
        </div>
    </div>


</div>
